#headerDiv {
    background-color: #38A3A0;
    height: 44px;
    position: fixed;
    width: 100%;
    top: 0px;
    opacity: 1;
    z-index: 10;
}

#enterNewMealDiv{
    z-index: 2;
    position: absolute;
    background-color: #383f49;
    border: 1px solid black;
    border-radius: 0 0 8px 8px;
    width: 70%;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding-top: 35px;
}

#priceInput{
    background: inherit;
    border: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 13px;
    margin-bottom: 20px;
    outline: 0;
}

#descriptionInput{
    background: inherit;
    border: none;
    border-bottom: 1px solid grey;
    color: #fff;
    margin-bottom: 65px;
    width: 10px;
    text-align: center;
    outline: 0;
}
#sendMealBtn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    border: none;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    outline: 0;
    padding: 8px 20px;
}
#logDiv{
    z-index: 1;
    position: relative;
    top: -180px;
}
h2{

}
#monthlyAmountSpan{

}
#logListDiv{

}
#newMealBtn{

}


/* loader icon */
.loader {
    border: 3px solid #4CAF50;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader1 {
    border: 3px solid #4CAF50;
    border-radius: 50%;
    border-top: 3px solid #db9534;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 0.8s linear infinite reverse;
    animation: spin 0.8s linear infinite reverse;
}

.loader2 {
    border: 2px solid #4CAF50;
    border-radius: 50%;
    border-top: 2px solid #d83153;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body{
    text-align: center;
    direction: rtl;
    background-color: #1c2128;
    font-family: 'Varela Round', sans-serif;
}
